{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link href="{% static 'css/menuva_menu.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="menu-header">
    <h2>Menú Principal (Preview) {{ menu.name }}</h2>
  </div>

  {% for category in menu.categories.all %}
    <div class="category-section">
      <div class="category-title">{{ category.name }}</div>

      {% for mitem in category.menu_items.all %}
        <div class="menu-card">
          <img src="{{ mitem.image_or_default }}" alt="{{ mitem.item.name }}">
          <div class="menu-content">
            <div>
              <h5>{{ mitem.item.name|upper }}</h5>
              {% if mitem.item.description %}
                <small>{{ mitem.item.description }}</small>
              {% endif %}
            </div>
            <div class="menu-footer">
              <div class="price">S/. {{ mitem.final_price }}</div>
              <button class="add-btn">+</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
